@import "./common.less";

.bx-button {
    display: inline-block;
    font-size: 14px;
    border: 1px solid @borderColor;
    border-radius: 4px;
    padding: 10px 20px;
    color: @fontColor;
}

.bx-button--primary {
    border-color: @primaryColor;
    background: @primaryColor;
    color: #fff;
}
.bx-button--success {
    border-color: @successColor;
    background: @successColor;
    color: #fff;
}
.bx-button--error {
    border-color: @errorColor;
    background: @errorColor;
    color: #fff;
}
.bx-button--warning {
    border-color: @warningColor;
    background: @warningColor;
    color: #fff;
}

.bx-button--small {
    font-size: 12px;
    padding: 8px 20px;
}

.bx-button--medium {
    padding: 10px 20px;
}

.bx-button--large {
    padding: 12px 20px;
}