@box-prefix: bx;
@white: #ffffff;
@black: #000000;

// themeColor
@primaryColor: #00a6ed;
@successColor: #7fb800;
@errorColor: #f6511d;
@warningColor: #fcd21d;

//fontColor
@fontColor: #010202;
@borderColor: #b9baba;

// fontSize
@BoldFontSize: 40px;
@TitleFontSize: 24px;
